# Accpetance Test Results

## Memory Usage (Phpolar\CsvFileStorage\MemoryUsage)
- [x] Memory usage for saving data shall be below 2000 bytes
- [x] Memory usage for saving data (with pre-loading disabled) shall be below 115000 bytes

## Project Size (Phpolar\CsvFileStorage\ProjectSize)
- [x] Source code total size shall be below 4000 bytes
