# Acceptance Test Report

## Memory Usage (Phpolar\CsvFileStorage\MemoryUsage)

- [x] Memory usage for saving data shall be below 5500 bytes
- [x] Memory usage for saving data (with pre-loading disabled) shall be below 125000 bytes

## Project Size (Phpolar\CsvFileStorage\ProjectSize)

- [x] Source code total size shall be below 4000 bytes

## Storage Mutability (Phpolar\CsvFileStorage\StorageMutability)

- [x] Shall create persistent storage
- [x] Shall add items to storage without removing existing values
- [x] Shall remove items from storage without removing other values
- [x] Shall update items in storage without removing other values
- [x] Shall remove objects from storage without removing other objects
- [x] Shall update objects in storage without removing other objects
